NEXT_PUBLIC_SHEET_ID=1yLB8xR8Qvjn5QNxfTetmmBKPLR3KLX7wh-cB0w4OT7I
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"..."}
APP_PASSWORD=your_password_here
NEXT_PUBLIC_FX_API_KEY=free_from_exchangerate-api.com
